/.idea
/.ddev

/shared/backup/*
!/shared/backup/.gitkeep
/shared/data/mysql/*
!/shared/data/mysql/.gitkeep
/shared/data/typo3/assets/*
!/shared/data/typo3/assets/.gitkeep
/shared/data/typo3/cache/*
!/shared/data/typo3/cache/.gitkeep
/shared/data/typo3/fileadmin/*
!/shared/data/typo3/fileadmin/.gitkeep
/shared/logs/mysql/*
!/shared/logs/mysql/.gitkeep
/shared/logs/nginx/*
!/shared/logs/nginx/.gitkeep
/shared/logs/php/*
!/shared/logs/php/.gitkeep
/shared/logs/typo3/*
!/shared/logs/typo3/.gitkeep
/shared/ssl/conf/live/docker-hosting.localhost/*
!/shared/ssl/conf/live/docker-hosting.localhost/.gitkeep

/var/
/vendor/
/public/*
!/public/typo3conf
/public/typo3conf/*
!/public/typo3conf/LocalConfiguration.php
!/public/typo3conf/AdditionalConfiguration.php